
requirements.txt:1:asgiref==3.9.1
requirements.txt:2:blinker==1.9.0
requirements.txt:3:click==8.2.1
requirements.txt:4:colorama==0.4.6
requirements.txt:5:comtypes==1.4.11
requirements.txt:6:Django==5.2.4
requirements.txt:7:Flask==3.1.1
requirements.txt:8:itsdangerous==2.2.0
requirements.txt:9:Jinja2==3.1.6
requirements.txt:10:MarkupSafe==3.0.2
requirements.txt:11:pillow==11.3.0
requirements.txt:12:pyjokes==0.8.3
requirements.txt:13:pyttsx3==2.98
requirements.txt:14:sqlparse==0.5.3
requirements.txt:15:tzdata==2025.2
requirements.txt:16:Werkzeug==3.1.3


